.sidebar {
   bottom: 0;
    left: 0;
    top: 78px;
    background-color: white;
    position: fixed;
    width: 100px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link {
    height: 100px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(155, 154, 154);
}
.sidebar-link img {
    height: 35px;
    margin-bottom: 7px;
}
.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 15px ;
    display: flex;
    padding-top: 6px;
}